# Credenciais definidas no docker-compose.yml para o serviço 'db'
DB_NAME=
DB_USER=
DB_PASSWORD=

# Para criação automática do primeiro admin
ADMIN_DEFAULT_LOGIN=
ADMIN_DEFAULT_PASSWORD=

# Variáveis para serviço de email
EMAIL_USER=
EMAIL_PASS=
FRONTEND_ACTIVATION_URL= #aqui url da pagina de redefinição (frontend)

# Fora do Docker
DB_HOST=
DB_PORT=

SECRET=