<div class="login-page">
  <div class="left-panel">
    <div class="login-card">
      <img src="assets/logo.png" alt="Logo" class="top-logo" />

      <h2>Redefinir Senha</h2>
      <p class="subtitle">Digite seu e-mail para receber o link</p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}">
          <input id="email" type="email" formControlName="email" placeholder=" " required />
          <label for="email">E-mail</label>
          <small *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="erro">
            E-mail inválido.
          </small>
        </div>

        <button type="submit" [disabled]="form.invalid">Enviar link</button>

        <p *ngIf="msg" class="sucesso">{{ msg }}</p>
        <p *ngIf="error" class="erro">{{ error }}</p>
      </form>

      <button type="button" class="voltar" (click)="voltarLogin()">Voltar ao login</button>
    </div>
  </div>

  <div class="right-panel">
    <div class="overlay">
      <div class="right-content">
        <h1>Sistema de doações</h1>
        <p>subtitulo.</p>
      </div>
    </div>
  </div>
</div>
