[vw],
[vw-access-button],
[vw-plugin-wrapper] {
  position: fixed !important;
  z-index: 2147483647 !important; /* maior valor possível */
}

html, body, app-root {
  position: relative !important;
  z-index: 1 !important;
}

[vw] {
  top: 50% !important; /* Centraliza verticalmente */
  right: 0 !important;  /* Cola na lateral direita */
  transform: translateY(-50%) !important;
}